[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
mac-vendor-lookup = "*"
djangorestframework = "*"
Markdown = "*"
django-filter = "*"
python-nmap = "*"
prettyprint = "*"
python3-nmap = "*"
python-libnmap = "*"
ipykernel = "*"
django-extensions-shell = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.8"
